[submodule "modules/cybersource-rest-client-node"]
	path = modules/cybersource-rest-client-node
	url = https://github.com/CyberSource/cybersource-rest-client-node.git
[submodule "modules/templates"]
	path = modules/templates
	url = https://github.com/swagger-api/swagger-codegen-generators.git
